---
apiVersion: "autoscaling.k8s.io/v1beta2"
kind: VerticalPodAutoscaler
metadata:
  name: back-end-vpa
spec:
  targetRef:
    apiVersion: "apps/v1"
    kind: Deployment
    name: back-end
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-end
spec:
  replicas: 1
  revisionHistoryLimit: 1
  template:
    spec:
      containers:
      - name: app
        image: operationcode/back-end:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: 200Mi
            cpu: 100m
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        env:
        - name: DB_HOST
          value: # Requires overlay
        - name: ENVIRONMENT
          value: # Requires overlay
        - name: RELEASE
          value: # Requires overlay
        - name: SITE_ID
          value: "3"
        - name: DJANGO_ENV
          value: production
        - name: DB_ENGINE
          value: django.db.backends.postgresql
        - name: DB_NAME
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: db_name
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: db_user
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: db_password
        - name: DB_PORT
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: db_port
        - name: AWS_STORAGE_BUCKET_NAME
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: aws_storage_bucket_name
        - name: BUCKET_REGION_NAME
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: bucket_region_name
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: secret_key
        - name: PYBOT_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: pybot_auth_token
        - name: PYBOT_URL
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: pybot_url
        - name: MAILCHIMP_API_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: mailchimp_api_key
        - name: MAILCHIMP_LIST_ID
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: mailchimp_list_id
        - name: MANDRILL_API_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: mandrill_api_key
        - name: SENTRY_DSN
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: sentry_dsn
        - name: GOOGLE_OAUTH_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: google_oauth_client_id
        - name: GOOGLE_OAUTH_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: google_oauth_client_secret
        - name: EXTRA_HOSTS
          value: api.staging.operationcode.org
        - name: RECAPTCHA_PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: recaptcha_public_key
        - name: RECAPTCHA_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: recaptcha_private_key
        - name: GITHUB_JWT
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: github_jwt
        - name: HONEYCOMB_WRITEKEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: honeycomb_writekey
        - name: HONEYCOMB_DATASET
          value: production-traces
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: jwt_secret_key
        - name: JWT_PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: python-backend-secrets
              key: jwt_public_key
      volumes:
      - name: python-backend-secrets
        secret:
          secretName: python-backend-secrets
