version: 2
jobs:
  validate:
    docker:
      - image: hashicorp/terraform:light

    steps:
      - checkout

      - run:
          command: |
            mkdir bin
            curl -sSL https://github.com/gruntwork-io/terragrunt/releases/download/v0.18.3/terragrunt_linux_amd64 -o bin/terragrunt
            chmod +x bin/terragrunt

      - run:
          command: |
            cd dns/operationcode.net/
            /root/project/bin/terragrunt validate

      - save_cache:
          key: terragrunt
          paths:
            - bin/terragrunt

  plan:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout

      - restore_cache:
          key: terragrunt
          paths:
            - bin/terragrunt

      - run:
          name: terraform plan
          command: |
            /root/project/bin/terragrunt plan-all

      - save_cache:
          key: terragrunt
          paths:
            - bin/terragrunt

  apply:
    docker:
      - image: hashicorp/terraform:light
    steps:
      - checkout

      - restore_cache:
          key: terragrunt
          paths:
            - bin/terragrunt

      - run:
          name: terraform apply
          command: |
            /root/project/bin/terragrunt apply-all

workflows:
  version: 2
  terraform:
    jobs:
      - validate
      - plan:
          requires:
            - validate
      - apply:
          requires:
            - validate
            - plan
          filters:
            branches:
              only: master