apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: back-end
spec:
  template:
    spec:
      containers:
        - name: app
          image: operationcode/back-end:staging
          env:
            - name: DB_HOST
              value: python-staging.czwauqf3tjaz.us-east-2.rds.amazonaws.com
            - name: ENVIRONMENT
              value: aws_staging
            - name: RELEASE
              value: 1.0.1