apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: back-end
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:us-east-2:633607774026:certificate/8de9fd02-191c-485f-b952-e5ba32e90acb
    alb.ingress.kubernetes.io/healthcheck-path: /healthz
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/ssl-policy: ELBSecurityPolicy-TLS-1-2-2017-01
    alb.ingress.kubernetes.io/actions.ssl-redirect: '{"Type": "redirect", "RedirectConfig": { "Protocol": "HTTPS", "Port": "443", "StatusCode": "HTTP_301"}}'
    alb.ingress.kubernetes.io/actions.redirect-to-root: '{"Type":"redirect","RedirectConfig":{"Host":"resources.staging.operationcode.org","Path":"/","Port":"443","Protocol":"HTTPS","StatusCode":"HTTP_302"}}'
  labels:
    app: back-end
spec:
  rules:
  # http redirect must come first
  - http:
      paths:
        - path: /*
          backend:
            serviceName: ssl-redirect
            servicePort: use-annotation
  # back-end staging
  - host: backend-staging.k8s.operationcode.org
    http:
      paths:
      - path: /*
        backend:
          serviceName: back-end-service
          servicePort: 80
  - host: api.staging.operationcode.org
    http:
      paths:
      - path: /*
        backend:
          serviceName: back-end-service
          servicePort: 80
  # resources-api staging
  - host: resources-staging.k8s.operationcode.org
    http:
      paths:
      - path: /*
        backend:
          serviceName: resources-api-service
          servicePort: 80
      - path: /metrics
        backend:
          serviceName: redirect-to-root
          servicePort: use-annotation
      - path: /healthz
        backend:
          serviceName: redirect-to-root
          servicePort: use-annotation
  - host: resources.staging.operationcode.org
    http:
      paths:
      - path: /*
        backend:
          serviceName: resources-api-service
          servicePort: 80
