apiVersion: apps/v1
kind: Deployment
metadata:
  name: back-end
spec:
  template:
    spec:
      containers:
        - name: app
          image: operationcode/back-end:master
          env:
            - name: DB_HOST
              value: python-prod.czwauqf3tjaz.us-east-2.rds.amazonaws.com
            - name: ENVIRONMENT
              value: aws_prod
            - name: EXTRA_HOSTS
              value: backend.k8s.operationcode.org
            - name: RELEASE
              value: 1.0.1
            - name: SITE_ID
              value: "4"
            - name: DJANGO_ENV
              value: production
            - name: HONEYCOMB_DATASET
              value: production-traces
